@charset "utf-8";
/* CSS Document */

	
@keyframes fall{
	0%{top:-120px;}
	100%{top:0px;}
	}
@keyframes up{
	0%{top:90px;opacity:0.0;}
	50%{top:90px;opacity:0.0;}
	100%{top:0px;opacity:1.0;}}	
.top-a{
	animation:fall 1s ease-out ;}
.top-c{
	background-image: url(../images/topb.png);}
.banner{
	max-width: 1366px;
	width: 100%;
	animation: ss 2s ease;
	height: 375px;
	margin: 60px auto;
	background: rgba(204,204,204,0.3);
	border-radius: 50px;
	color: #FFF;
	font-size: 24px;
	text-align: center;
	line-height: 150px;
	}

.mid{
	height: 160px;
	margin: 0 auto;
	max-width: 1366px;
	width: 100%;
}
	
.mid-box{
	position: relative;
	font-family:byt,fst;
	font-size:72px;
	color:#FFF;
	text-align:center;
	width:360px;
	height:160px;
	line-height:160px;
	float:left;
	margin-right:140px;
	border-radius:5px;
	cursor:pointer;
}
	.mid-box:hover{
		text-shadow:0 0 15px #FFF;
			}
	#mid-a{
		animation:up 4s ease-out;
			}
	#mid-b{
		animation:up 5s ease;
			}
	#mid-c{
		animation:up 6s ease;
		margin-right:0px;}
	
